:root {
  --bacground-color: #ffffff;
  --primary-bacground: #e5e5e5;
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --body-txt: #434455;
  --title-txt: #2e2f42;
  --succes-messadges: #31d0aa;
  --primary-txt: Roboto, sans-serif;
}
body {
  background-color: var(--bacground-color);
  font-family: var(--primary-txt);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-txt);
}
.container {
  width: 1152px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}
.section{
padding-top: 120px;
padding-bottom: 120px;}
/* Reset settings */
.link,
.link-tel,
.link-mail {
  text-decoration: none;
}
.list {
  list-style: none;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}
/* Header  */

/* Logotyp */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo {
  color: var(--primary-brand);
}
.logo-two {
  color: var(--title-txt);
}
.logo:hover,
.logo:focus,
.logo-two:hover,
.logo-two:focus {
  color: var(--pressed-state);
}
/* Menu */
.menu {
  font-weight: 500;
}
.menu .link {
  color: var(--title-txt);
}
.menu .link:hover,
.menu .link:focus {
  color: var(--pressed-state);
}
/* Contacts header */
.contacts-header {
  font-style: normal;
}
.contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.link-contacts {
  color: var(--body-txt);
}
.link-contacts:hover,
.link-contacts:focus {
  color: var(--pressed-state);
}
/* Section hero */
.hero {
  text-align: center;
  background-color: #2e2f42;
}
.title-hero {
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;

  outline: 2px solid red;
}

.botton-hero {
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 16px 32px 16px 32px;
  font-family: var(--primary-txt);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.botton-hero {
  color: #ffffff;
  background-color: var(--primary-brand);
  cursor: pointer;
}
.botton-hero:hover,
.botton-hero:focus {
  color: #ffffff;
  background-color: var(--pressed-state);
}

/* Our advantages */
.advantages {
  outline: 3px solid red;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title-element {
  margin-top: 32px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.title-element {
  color: var(--title-txt);
}
/* Photo section */
.photo {
  outline: 3px solid blue;
}
.title-section {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--title-txt);
}
/* Our team */
 

.our-team {
  background-color: #f4f4fd;
}
.list-team-item {
  background-color: #ffffff;
}
.txt-our-team {
  font-size: 16px;
}
/* Footer */
.foot {
  font-family: Raleway, sans-serif;
  background-color: #2e2f42;
}
.logo-two-foot {
  color: #f4f4fd;
}
.logo-two-foot:hover,
.logo-two-foot:focus {
  color: var(--pressed-state);
}
.foot-txt {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* Portfolio */
.filter{
padding-top: 96px;
padding-bottom: 120px;}
.list-filter {
  margin-bottom: 72px;
  outline: 2px solid red;
}
.btn-filter {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.btn-filter {
  color: var(--primary-brand);
  background-color: #f4f4fd;
  cursor: pointer;
}
.btn-filter:hover,
.btn-filter:focus {
  color: #ffffff;
  background-color: var(--pressed-state);
}
.txt-portfolio {
  font-family: var(--primary-txt);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.txt-portfolio {
  color: var(--body-txt);
}
